body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}

nav a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    gap: .3em;

    .icon {
        width: 1.8em;
    }
}